.dummy{
    background: yellow;
}

.Data_editorMediacontentType_editorSeason_series_editorEmojiDisplayFieldWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Data_editorMediacontentType_editorSeason_series_editoremoji_display_clear_button {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid silver;
    border-left: none;
    height: 2.5em;
    width: 2.5em;
    max-width: 2.5em;
    min-width: 2.5em;
    padding: .5em;
}

.Data_editorMediacontentType_editorSeason_series_editoremoji_display_clear_button svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}
.Data_editorMediacontentType_editorSeason_series_editorEmojiDisplayFieldWrapper input[type=text] {
    cursor: pointer;
}


.Data_editorMediacontentType_editorSeason_series_editorTabInner {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editorCommonWrapper.Data_editorMediacontentType_editorSeason_series_editorCommonWrapperQuill {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editorEditorOutWrap {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editorEditorInnerRoot {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editorGalleryWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editorPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorMediacontentType_editorSeason_series_editorPersonalListWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_series_editor_align_right {
    text-align: right;
}



.Data_editorMediacontentType_editorSeason_series_editorButtonedInputPanel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Data_editorMediacontentType_editorSeason_series_editorButtonedInputButton {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid silver;
    border-left: none;
    cursor: pointer;
    padding: .25em;
}

.Data_editorMediacontentType_editorSeason_series_editorButtonedInputButton svg {
    width: 100%;
    height: 100%;
    fill: silver;
}