/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 апр. 2020 г., 2:14:25
    Author     : eve
*/

/*div#login_signup div#close_login_signup {
    display: none!important;
}

div#close_login_signup_signup {
    display: none!important;
}*/