.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder {
    box-sizing: border-box;
    background: #f15a24;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .25em 0;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder {
    color: white;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder .FrontBasket_dialogBasketButtonIcon {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    box-sizing: border-box;
    line-height: 0;
    padding: .2em;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder .FrontBasket_dialogBasketButtonText {
    white-space: nowrap;
    font-size: 1.55em;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder {
    cursor: pointer;
    margin-bottom: 1em;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd {
    background: #f2f2f2;
    border: 1px solid #b7b6b6;
    padding: .25em .75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

FrontBasket_dialogBasketButton FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonIcon {
    width: 3em;
    height: 3em;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonIcon {
    width: 3.5em;
    height: 3.5em;
    overflow: hidden;
    line-height: 0;
    box-sizing: border-box;
    margin-right: 1em;
    padding: .1em;
    min-width: 3.5em;
    max-width: 3.5em;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonIcon svg {
    width: 100%;
    height: 100%;
    fill: #f15a24;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonText {
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: unset;
}

.FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd {
    cursor: pointer;
}



@media only screen and (max-width:399px){
    .DeviceModeDevice .FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder .FrontBasket_dialogBasketButtonIcon {
        display: none;
    }

    .DeviceModeDevice .FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoOrder .FrontBasket_dialogBasketButtonText {
        font-size: 1.2em;
        line-height: 2em;
    }

    .DeviceModeDevice .FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonIcon {
        width: 2em;
        height: 2em;
        margin-right: .5em;
        min-width: 2em;
        max-width: 2em;
    }

    .DeviceModeDevice .FrontBasket_dialogBasketButton.FrontBasket_dialogBasketButtonDoBasketAdd .FrontBasket_dialogBasketButtonText {
        font-size: .9em;
        letter-spacing: .01em;
    }
}