.idea
.idea_modules/
.npm
.htpasswd
*.log
_logs
logs
www
npm-debug.log*
/protected/runtime/*
/protected/upload/*
/protected/config/*local.php
!/protected/runtime/.htaccess
tests/_output/*
/www/assets/*
/www/emailHash
/www/cert/*
/www/gameModule/*
/www/report/*
/db
/prod_db
node_modules
/mongodb/*
/redis/*
