AddDefaultCharset utf8;
RewriteEngine on
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule ^(.*) http://%{HTTP_HOST}/Util/ComponentManager/getComponent?fqcn=$1 [R=301,L]



