.Data_editorCatalog_groupEditorInputWrapper {
    height: 20em;
    box-sizing: border-box;
    padding-top: 3.5em;
    position: relative;
    padding: 0;
    padding-top: 3.5em;
}

.Data_editorCatalog_groupEditorInputWrapper .ql-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    box-sizing: border-box;
    background: white;
}

.Data_editorCatalog_groupEditorInput.ql-container.ql-snow {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorCatalog_groupImagelistInputWrapper {
    height: 30em;
}


.CommonAdminLayoutRowSplit.CommonAdminLayoutRowSplit-100.Data_editorCatalog_groupEditorInputWrapper {
    height: 30em;
}

.Data_editorCatalog_groupEditorInput {
    box-sizing: border-box;
    height: 100%;
}

.CommonAdminLayoutRowSplit.CommonAdminLayoutRowSplit-100.Data_editorCatalog_groupEditorInputWrapper {
    padding-top: 0;
}

.Data_editorCatalog_groupTabInner {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.CommonAdminLayoutForm.Data_editorCatalog_groupForm {
    padding: 0;
}

.Data_editorCatalog_groupTabWrapper.Data_editorCatalog_groupTabWrapperCommon {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    padding: .5em .25em;
}

.Data_editorCatalog_groupTabWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.Data_editorCatalog_groupEditorWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorCatalog_groupEditorInputWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.Data_editorCatalog_groupGalleryWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorCatalog_groupImageListWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorCatalog_groupPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-size: .9em;
}

