.EFOWindow.Data_editorRequestProfileWindow input[type=color] {
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    border: 1px solid silver;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.EFOWindow.Data_editorRequestRequestWindow select {
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    outline: 1px solid silver;
    font-size: inherit;
    font-family: inherit;
    height: 2.5em;
    outline-offset: 0;
    height: calc(2.5em - 2px);
    cursor: pointer;
    box-shadow: none;
    padding: 0 1em;
}
.Data_editorRequestRequestright_align {
    text-align: right;
    padding-right: 1em!important;
}

.Data_editorRequestRequest_total_row {
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    margin-top: .5em;
    clear: both;
    padding-top: .5em;
    overflow: hidden;
    padding-left: .25em;
}
