.EFOBackdrop.DesktopSliderBackdrop {
    position: static;
}

.EFOWindow.DesktopSliderWindow {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.EFOTitle.DesktopSliderTitle {
    display: none;
}

.EFOFooter.DesktopSliderFooter {
    display: none;
}

.EFOWindowContent.DesktopSliderWindowContent {
    position: static;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    /* padding-top: 3.5em; */
}

.ADVTableHeaderRowReplacer.DesktopSliderHeaderReplacer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ADVTableHeaderRowReplacer.DesktopSliderHeaderReplacer svg {
    width: 100%;
    height: 100%;
    fill: #00acc8;
}

.DesktopSliderControlButton {
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    transition: all .3s;
}

.DesktopSliderControlButton:hover {
    background: whitesmoke;
}


.DesktopSliderRemoveButton {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    cursor: pointer;
    line-height: 0;
    padding: .3em;
    transition: all .3s;
}

.DesktopSliderRemoveButton svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}

.DesktopSliderRemoveButton:hover {
    padding: .2em;
}

.DesktopSliderCommonDisplay {
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.DesktopSliderCommonDisplayWrap {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 .3em;
}


.DesktopSliderTableBoolDisplay {
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    outline-offset: 0;
    outline: 1px solid #00acc8;
    margin: .1em;
}

.DesktopSliderPublishedCellContent.DesktopSliderCommonDisplayWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DesktopSliderTableBoolDisplay.DesktopSliderTableBoolDisplayState1 {
    border: 1px solid white;
    background: #00acc8;
}

