.dummy{
    background:yellow;
}

.CommonAdminLayoutForm.SelectorsMediaBanner_selectorForm {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    /* padding-top: 3em; */
    /* position: relative; */
}

.CommonAdminLayoutFormInner.SelectorsMediaBanner_selectorFormInner {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    overflow: hidden;
    padding-top: 3em;
    position: relative;
}

.SelectorsMediaBanner_selectorToolPanel {
    box-sizing: border-box;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.SelectorsMediaBanner_selectorToolPanelInner {
    box-sizing: border-box;
    width: 100%;
    padding: 0 .5em;
}

.SelectorsMediaBanner_selectorToolPanelInner input[type=text] {
    cursor: pointer;
}

.SelectorsMediaBanner_selectorWorkField {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}



.SelectorsMediaBanner_selectorWorkField input[type=checkbox] {
    display: none;
}

.SelectorsMediaBanner_selectorWorkField input[type=checkbox]+label{
    display:block;margin:.1em auto;padding:0;
    outline:1px solid #00acc8;width:1.1em;height:1.1em;
    cursor:pointer;transition:all .3s;box-sizing:border-box;
}
.SelectorsMediaBanner_selectorWorkField input[type=checkbox]:checked+label{
    border:1px solid white;
    background:#00acc8;
}

.SelectorsMediaBanner_selectorCommonDisplayWrap {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 .3em;
}

.SelectorsMediaBanner_selectorCommonDisplay {
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.SelectorsMediaBanner_selectorBooleanDisplay {
    box-sizing: border-box;
    display: block;
    margin: .1em auto;
    width: 1em;
    height: 1em;
    outline: 1px solid #00acc8;
}

.SelectorsMediaBanner_selectorBooleanDisplay.SelectorsMediaBanner_selectorBooleanDisplayState1 {
    background: #00acc8;
    border: 1px solid white;
}

.ADVTableHeaderRowReplacer.SelectorsMediaBanner_selectorHeaderReplacer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SelectorsMediaBanner_selectorSelectAll {
    box-sizing: border-box;
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #00acc8;
}

.SelectorsMediaBanner_selectorSelection {
    box-sizing: border-box;
    height: 2.5em;
    border: 1px solid silver;
    line-height: 2.5em;
    padding: 0 .5em;
    position: relative;
    padding-right: 2.5em;
}

.SelectorsMediaBanner_selectorSelectionReset {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 1px solid silver;
}

.SelectorsMediaBanner_selectorSelectionReset svg {
    width: 100%;
    height: 100%;
    fill: silver;
}


span.EFOFooterButton.SelectorsMediaBanner_selectorFooterButton.SelectorsMediaBanner_selectorAddButton {
    float: left;
    margin-top: 1em;
    color: crimson;
    border: 1px solid crimson;
}

span.EFOFooterButton.SelectorsMediaBanner_selectorFooterButton.SelectorsMediaBanner_selectorAddButton:hover {
    background: crimson;
    color: white;
}
