/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2019, 15:05:05
    Author     : studio2
*/

.TileBlock.TileBlock-default {
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 1200px;
}

.TileBlockInner {
    box-sizing: border-box;
    width: 100%;
}

.TileBlockHeader {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.TileBlockContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.TileBlockItemOuter {
    width: 49.2%;
    max-width: 49.2%;
    min-width: 49.2%;
    box-sizing: border-box;
    margin: 0 .4%;
    margin-bottom: 1em;
}

.TileBlockItemInner {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.TileBlockItemHeader {
    font-size: 1.1em;
    margin-bottom: .5em;
}

.TileBlockItemHeader a {
    color: #333333;
    text-decoration: none;
}

.TileBlockItemImage {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.TileBlockItemImage img {
    width: 100%;
}

.TileBlock.TileBlock-default .TileBlockItemHeader {
    font-size: 1.9em;
    margin-bottom: .25em;
    letter-spacing: .1em;
}
.TileBlock.TileBlock-default {
    margin-top: 1.75em;
}


@media only screen and (orientation:portrait) {
    .DeviceModeDevice .TileBlockItemOuter {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 1.5em;
    }

    .DeviceModeDevice .TileBlock.TileBlock-default .TileBlockItemHeader {
        margin: 0;
        padding-left: .6em;
    }
}

@media only screen and (orientation:landscape){
    .DeviceModeDevice .TileBlock.TileBlock-default .TileBlockItemOuter {
        margin-left: 0;
        width: 49.5%;
        margin-right: 1%;
        min-width: 49.5%;
    }

    .DeviceModeDevice .TileBlock.TileBlock-default .TileBlockItemOuter:nth-child(2n) {
        margin-right: 0;
    }

    .DeviceModeDevice .TileBlock.TileBlock-default .TileBlockItemHeader {
        white-space: nowrap;
        font-size: 1.2em;
        padding-left: .6em;
    }
}