.Data_editorMediacontentType_editorSeason_editorEmojiDisplayFieldWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Data_editorMediacontentType_editorSeason_editoremoji_display_clear_button {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid silver;
    border-left: none;
    height: 2.5em;
    width: 2.5em;
    max-width: 2.5em;
    min-width: 2.5em;
    padding: .5em;
}

.Data_editorMediacontentType_editorSeason_editoremoji_display_clear_button svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}
.Data_editorMediacontentType_editorSeason_editorEmojiDisplayFieldWrapper input[type=text] {
    cursor: pointer;
}


.Data_editorMediacontentType_editorSeason_editorTabInner {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorCommonWrapper.Data_editorMediacontentType_editorSeason_editorCommonWrapperQuill {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorEditorOutWrap {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorEditorInnerRoot {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorGalleryWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorMediacontentType_editorSeason_editorPersonalListWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMediacontentType_editorSeason_editor_align_right {
    text-align: right;
}



.Data_editorMediacontentType_editorSeason_editorButtonedInputPanel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Data_editorMediacontentType_editorSeason_editorButtonedInputButton {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid silver;
    border-left: none;
    cursor: pointer;
    padding: .25em;
}

.Data_editorMediacontentType_editorSeason_editorButtonedInputButton svg {
    width: 100%;
    height: 100%;
    fill: silver;
}



.Data_editorMediacontentType_editorSeason_editorCommonWrapper select {
    font-size: inherit;
    font-family: inherit;
    height: 2.5em;
    height: calc(2.5em - 2px);
    background: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: none;
    outline-offset: 0;
    outline: 1px solid silver;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 0 1em;
}

.Data_editorMediacontentType_editorSeason_editorposterpreviewuploader {
    box-sizing: border-box;
    width: 15em;
    height: 15em;
    border: 1px solid silver;
    padding: .25em;
    line-height: 0;
    cursor: pointer;
    position: relative;
}

.Data_editorMediacontentType_editorSeason_editorposterpreviewuploaderinner {
    box-sizing: border-box;
    padding: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Data_editorMediacontentType_editorSeason_editorposterpreviewuploaderinner img {
    max-width: 100%;
    max-height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorposterpreviewuploaderinner input[type=file] {
    position: absolute;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: red;
    cursor: pointer;
    opacity: 0;
}

.Data_editorMediacontentType_editorSeason_editorgif_previewuploder {
    box-sizing: border-box;
    width: 15em;
    height: 15em;
    border: 1px solid silver;
    padding: .25em;
    cursor: pointer;
    position: relative;
}

.Data_editorMediacontentType_editorSeason_editorgif_preview_uploader_inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Data_editorMediacontentType_editorSeason_editorgif_preview_uploader_inner img {
    max-width: 100%;
    max-height: 100%;
}

.Data_editorMediacontentType_editorSeason_editorgif_preview_uploader_inner input[type=file] {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background: red;
    cursor: pointer;
    opacity: 0;
}

.Data_editorMediacontentType_editorSeason_editorButtonedInput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



