/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.12.2017, 12:42:16
    Author     : alexander
*/
.Data_editorTraining_hallImageListContainer {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorTraining_hallTabInner {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorTraining_hallPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorTraining_hallFeatureItem {
    box-sizing: border-box;
    width: 100%;
    padding: .25em;
    overflow: hidden;
    height: 4em;
}

.Data_editorTraining_hallFeatureItemInner {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.Data_editorTraining_hallFeatureItemIcon {
    width: 3.5em;
    height: 3.5em;
    border: 1px solid silver;
    padding: .1em;
    box-sizing: border-box;
}

.Data_editorTraining_hallFeatureRemove {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Data_editorTraining_hallRemover {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .25em;
    cursor: pointer;
}

.Data_editorTraining_hallRemover svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}

.Data_editorTraining_hallFeatureName {
    width: 50%;
}

.Data_editorTraining_hallFeatureValue {
    width: 50%;
}

.Data_editorTraining_hallFeatureItemInner input[type=text] {
    height: 3.5em;
    padding: 0 .5em;
    border-left: none;background:transparent
    
}

.Data_editorTraining_hallFeatureItem:nth-child(even) {
    background: whitesmoke;
}

.Data_editorTraining_hallFeatureItemIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Data_editorTraining_hallFeatureItemIcon img {
    max-width: 100%;
    max-height: 100%;
}

