.EFOTabbableContainer.Data_editorProductMainWrap .EFOTabBody {
    overflow: hidden;
}

.CommonAdminLayoutForm.Data_editorProductForm {
    padding: 0;
}

.CommonAdminLayoutFormInner.Data_editorProductTabCatalogsFormInner {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    position: relative;
    padding-top: 2em;
}

.Data_editorProductTabCatalogFormHeader {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    color: white;
    background: #ded9d9;
    height: 2em;
    line-height: 2em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
    border-bottom: 1px solid dimgray;
    color: dimgray;
}

.Data_editorProductTabCatalogTable {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.ADVTableHeaderRowReplacer.Data_editorProductHeaderReplacer {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}

.Data_editorProductControlButton {
    box-sizing: border-box;
    height: 100%;
    padding: .1em;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    line-height: 0;
}

.Data_editorProductControlButton:hover {
    background: whitesmoke;
}

.Data_editorProductControlButton svg {
    width: 100%;
    height: 100%;
    fill: #00acc8;
}
.Data_editorProductTabProductInfoEditorWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 3em;
}

.Data_editorProductTabProductInfoEditorWrapper .ql-toolbar.ql-snow {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    overflow: hidden;
}

.Data_editorProductImageListContainer {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.Data_editorProductTabCatalogTable .Data_editorProductCommonDisplayWrap {
    box-sizing: border-box;
    padding: 0 .3em;
    overflow: hidden;
}

.Data_editorProductTabCatalogTable {
    font-size: .9em;
}

.Data_editorProductTabCatalogTable .Data_editorProductCommonDisplay {
    box-sizing: border-box;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.Data_editorProductTabCatalogTable .Data_editorProductRemoveButton {
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    overflow: hidden;
    cursor: pointer;
    line-height: 0;
    padding: .5em;
    transition: all .3s;
    margin: 0 auto;
}

.Data_editorProductTabCatalogTable .Data_editorProductRemoveButton svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}

.Data_editorProductTabCatalogTable .Data_editorProductRemoveButton:hover {
    padding: .3em;
}

.Data_editorProductTabCatalogTable .Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap {
    padding: 0;
}

.Data_editorProductTabCatalogTable .Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap input[type=text] {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    text-align: right;
    color: #00acc8;
    padding: 0 1em;
    outline: none;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    transition: all .3s;
}

.Data_editorProductTabCatalogTable .Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap input[type=text]:focus {
    background: white;
    border: 1px solid silver;
}


.Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap input[type=checkbox] {
    display: none;
}

.Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap input[type=checkbox]+label{
    display:block;cursor:pointer;box-sizing:border-box;outline-offset:0;outline:1px solid #00acc8;
    width:1.1em;height:1.1em;margin:.1em;
    transition:all .3s;
}

.Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap input[type=checkbox]:checked+label{
    border:1px solid white;background:#00acc8;
}

.Data_editorProductSortCellContent.Data_editorProductCommonDisplayWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.Data_editorProductTabProductInfoEditorWrapper {
    padding-top: 0;
}

.Data_editorProductTabProductInfoEditorBody {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.Data_editorProductTabInner {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.Data_editorProductPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-size: .85em;
}



