/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.08.2019, 16:20:52
    Author     : studio2
*/

.BasketWrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 1em;
}

.BasketWrapperHeader {
    font-size: 1.2em;
    margin-bottom: .75em;
}

.BasketWrapperLoader {
    box-sizing: border-box;
    width: 100%;
}

.BasketWrapperLoader .CommonTemplatePreloader {
    display: flex;
    padding: .5em;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.CommonTemplatePreloaderPreloader svg {
    width: 100%;
    height: 100%;
}

.CommonTemplatePreloaderPreloader {
    width: 5em;
    height: 5em;
    line-height: 0;
    padding: .25em;
}

.BasketWrapperFormOuter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.BasketWrapperFormRow {
    box-sizing: border-box;
    width: 100%;
    padding: .25em 0;
    margin-bottom: .25em;
}

.BasketWrapperFormRow label {
    display: block;
    font-family: inherit;
    font-size: .9em;
    margin-bottom: .1em;
}

.BasketWrapperFormRow input[type=text] {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    height: 2em;
    border-radius: 0;
    outline: none;
    border: 1px solid silver;
    transition: all .3s;
    padding:0 .5em;


}

.BasketWrapperFormRow textarea{
    box-sizing:border-box;
    padding:.25em;
    width:100%;
    min-width:100%;
    max-width:100%;
    height:5em;
    min-height:5em;
    outline:none;
    border-radius:0;
    box-shadow:none;
    border:1px solid silver;
    transition:all .3s;    
}
.BasketWrapperFormRow textarea:focus{
    border:1px solid dimgray;
}

.BasketWrapperFormRow input[type=text]:focus{
    border:1px solid dimgray;
} 

label.BasketWrapperLabelRequired:after {
    content: '*';
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck {
    margin-top: .5em;
    margin-bottom: .75em;
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck input[type=checkbox] {
    display: none;
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck input[type=checkbox]+label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: .1em;
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck input[type=checkbox]+label:before {
    content: ' ';
    display: block;
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    max-width: 1.2em;
    outline-offset: 0;
    box-sizing: border-box;
    outline: 1px solid dimgray;
    margin-right: .75em;
    transition: all .3s;
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck input[type=checkbox]:checked+label:before {
    border: 1px solid white;
    background: dimgray;
}

.BasketWrapperControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.BasketWrapperRight {
    box-sizing: border-box;
    padding: 1em;
}

.BasketWrapperRight a {
    color: inherit;
}

.BasketWrapperInputLink a {
    color: black;
}

.BasketWrapperControlInfoItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.BasketWrapperContentIcon {
    box-sizing: border-box;
    width: .75em;
    height: .75em;
    margin-left: .25em;
}

.BasketWrapperContentIcon svg {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

.BasketWrapperInputLink a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.BasketWrapperInputLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.BasketWrapperInputIcon {
    width: 1em;
    height: 1em;
    margin-right: .25em;
}

.BasketWrapperInputIcon svg {
    width: 100%;
    height: 100%;
}

.BasketWrapperInputLink {}

.BasketWrapperForm {
    min-width: 75%;
    width: 75%;
    max-width: 75%;
}

.BasketWrapperRight {
    width: 100%;
    text-align: right;
    padding-right: 0;
}

.BasketWrapperControlButton {
    padding: 0 2em;
    line-height: 2.5em;
    background: #f15a24;
    color: white;
    cursor: pointer;
}

.BasketIsEmptyText {
    font-size: 1.2em;
    text-align: center;
    padding: 2em 0;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    display:none;
}

.BasketWrapperContent,.BasketWrapperControlOuter,.BasketWrapperFormOutside {
    display:none;
}

.BasketIsErrorText {
    text-align: center;
    color: crimson;
    padding: 1em 0;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    display:none;
}


.BasketCellCounterWrapper {
    box-sizing: border-box;
    max-width: 8em;
    height: 2em;
    position: relative;
    padding: 0 2em;
}

.BasketCellCounteButton {
    position: absolute;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    line-height: 0;
    padding: .25em;
    top: 0;
    cursor: pointer;
}

.BasketCellCounteButton svg {
    width: 100%;
    height: 100%;
    fill: #a7a7a7;
}

.BasketCellCounteButton.BasketCellCounteButtonMinus {
    left: 0;
}

.BasketCellCounteButton.BasketCellCounteButtonPlus {
    right: 0;
}

.BasketCellCounterWrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: #a7a7a7;
    outline:none!important;
    box-shadow:none!important;
}

.BasketRowRemoveBtn {
    width: 2em;
    height: 2em;
    cursor: pointer;
    line-height: 0;
    box-sizing: border-box;
    padding: .25em;
}

.BasketRowRemoveBtn svg {
    width: 100%;
    fill: #a7a7a7;
    height: 100%;
}

.BasketWrapperContent table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.BasketWrapperContent table tbody tr {
    box-sizing: border-box;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
}

.BasketWrapperContent table tbody tr td {
    box-sizing: border-box;
    padding-top: .5em;
    padding-bottom: .5em;
}

.BasketWrapperContent table tbody tr:nth-child(1) {
    /* border-top: none; */
}

td.BasketCellRemove {
    text-align: right;
    max-width: 2.5em;
    width: 2.5em;
}

.BasketRowRemoveBtn {
    margin: 0 0 0 auto;
}

td.BasketCellSizePrice {
    box-sizing: border-box;
    width: 10em;
    max-width: 10em;
    text-align: right;
    padding-right: 1em;
}

td.BasketCellCounter {
    box-sizing: border-box;
    width: 8em;
    max-width: 8em;
}

.BasketCellImageImageWrap {
    width: 75px;
    max-width: 75px;
}

.BasketCellImageImageWrap img {
    width: 100%;
}

td.BasketCellImage {
    box-sizing: border-box;
    padding-right: 15px;
    width: 90px;
    max-width: 90px;
}

span.BasketCellWrapperArticleLabel {
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
}

.BasketCellWrapperArticleWrapper {
    font-size: .9em;
    margin-top: .5em;
}

.BasketCellPriceWrapper {
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    font-size: .9em;
}

td.BasketCellSize {
    box-sizing: border-box;
    max-width: 8em;
    width: 8em;
}

.BasketCellSizeWrapper {
    font-size: .9em;
}

.BasketCellSizeSizeLabel {
    margin-bottom: .2em;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    font-size: .9em;
}

.BasketCellColorValue {
    width: 3em;
    height: 1.75em;
}

td.BasketCellColor {
    box-sizing: border-box;
    width: 4.5em;
    max-width: 4.5em;
}

td.BasketCellImage {
    width: 65px;
    max-width: 65px;
}

.BasketCellImageImageWrap {
    width: 50px;
}


.BasketWrapperContent {
    position: relative;
    min-height:5em;
}

.BasketWrapperLoaderContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.BasketWrapperLoaderContent .CommonTemplatePreloader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.BasketWrapperLoaderContent .CommonTemplatePreloaderPreloader {
    width: 5em;
    height: 5em;
}

.BasketWrapperContent table {
    margin-bottom: 2em;
}

.BasketWrapperContent table tfoot td {
    font-size: 1.1em;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    padding-top: .5em;
}

td.BasketTotalValue {
    text-align: right;
}


.BasketWrapperControl {
    margin-bottom: 1em;
}

.BasketWrapperFormRowDeliveryWrapper {
    box-sizing: border-box;
    position: relative;
}

.BasketWrapperFormDeliveryAdressButton {
    box-sizing: border-box;
    width: 1.5em;
    height: 1em;
    position: absolute;
    line-height: 0;
    padding: .1em;
    cursor: pointer;
    top: 0;
    right: 0;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    display:none;
}

.BasketValidUserState .BasketWrapperFormDeliveryAdressButton{
    display:block;
}

.BasketWrapperFormDeliveryAdressButton svg {
    width: 100%;
    height: 100%;
    fill: #6b6b6b;
}

.suggestions-promo.suggestions-promo-desktop{
    transform:scale(0);
}

.BasketWrapperDoSubmitButton {
    background: #f15a24;
    color: white;
    line-height: 2.5em;
    text-align: center;
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.BasketWrapperFormRow.BasketWrapperFormRowCheck a {
    margin-left: .5em;
}


.BasketSuccessWrapper {
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BasketSuccessWrapperInner {
    width: 100%;
    max-width: 960px;
    text-align: center;
}



.BasketSuccessThanks {
    font-size: 2.2em;
    letter-spacing: .1em;
    margin-bottom: .5em;
}

.BasketSuccessOrderInfo,.BasketSuccessOrderInfoMan {
    font-family: Helvetica Neue,larro-def-webfont,serif;
    font-weight: 400;
    line-height: 1.4em;
}

.BasketSuccessOrderInfoMan {
    margin-bottom: 2em;
}

.BasketSuccessWrapper a {
    color: inherit;
}

.BasketSuccessLookOur {
    font-size: 2.2em;
    line-height: 1.75em;
}

.BasketSuccessRetMain {
    margin-top: 2.25em;
}
.BasketWrapperFormDeliveryAdressButton select {
    box-sizing: border-box;position: absolute;top: 0;left: 0;margin: 0;
    padding: 0;width: 100%;height: 100%;border: none;background: transparent;opacity: 0;cursor: pointer;
}




.DeviceModeDevice .BasketWrapper {
    padding-left: .5em;
    padding-right: .5em;
}


.DeviceModeDevice .BasketWrapperForm {
    min-width: 70%;
    width: 70%;
    max-width: 70%;
}

@media only screen and (max-width:799px){ 
    .DeviceModeDevice .BasketWrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: .5em;
    }

    .DeviceModeDevice .BasketWrapperContent {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        padding: 0;
    }

    .DeviceModeDevice  .BasketWrapperContent table {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }

    .DeviceModeDevice .BasketWrapperContent table thead {
        display: none;
    }

    .DeviceModeDevice  .BasketWrapperContent table tbody {
        display: block;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .DeviceModeDevice .BasketWrapperContent table tbody tr {
        display: block;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
    }


    .DeviceModeDevice  .BasketWrapperContent table tbody tr td.BasketMobileCell {
        display: block;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        min-width:100%;
    }

    .DeviceModeDevice .BasketMLineWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: .25em;
        flex-wrap: nowrap;
    }

    .DeviceModeDevice .BasketCellImageImageWrap {
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        margin-right: 10px;
    }

    .DeviceModeDevice .BasketCellRemoveWrapper {
        width: 1.5em;
        max-width: 1.5em;
        min-width: 1.5em;
        margin-left: .25em;
        height: 1.5em;
        align-self: flex-start;
    }

    .DeviceModeDevice .BasketCellArticleName {
        box-sizing: border-box;
        width: 100%;
    }

    .DeviceModeDevice .BasketRowRemoveBtn {
        width: 100%;
        height: 100%;
    }

    .DeviceModeDevice .BasketCellColorWrapper {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        margin-right: 10px;
    }

    .DeviceModeDevice .BasketCellColorValue {
        width: 100%;
        min-width: 100%;
    }

    .DeviceModeDevice .BasketCellSizeSizeLabel {
        display: none;
    }

    .DeviceModeDevice .BasketCellSizeSizeValue:before {content: 'р-р.';}

    .DeviceModeDevice .BasketCellCounterWrapper {
        width: 7em;
        min-width: 7em;
        max-width: 7em;
    }

    .DeviceModeDevice .BasketCellSizeWrapper {
        width: 100%;
        min-width: 0;
        max-width: none;
    }

    .DeviceModeDevice .BasketMLineWrapper.BasketMlineTotal {
        justify-content: flex-end;
        margin-top: .5em;
        font-size: 1.2em;
    }

    .DeviceModeDevice  .BasketCellPriceWrapper {
        width: 100%;
        text-align: right;
    }

    .DeviceModeDevice .BasketWrapperContent table tfoot {
        display: block;
    }

    .DeviceModeDevice .BasketWrapperContent table tfoot tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    .DeviceModeDevice  .BasketWrapperContent table tfoot tr td {
        display: block;
        /* width: 100%; */
    }


    .DeviceModeDevice  .BasketWrapperControl {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .DeviceModeDevice .BasketWrapperControlButton {
        order: 0;
        margin-bottom: 1.5em;
    }

    .DeviceModeDevice  .BasketWrapperControlInfoItem {
        order: 1;
    }

    .DeviceModeDevice  .BasketWrapperFormOuter {
        flex-direction: column;
    }

    .DeviceModeDevice  .BasketWrapperRight {
        order: 0;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .DeviceModeDevice  .BasketWrapperForm {
        order: 1;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .DeviceModeDevice  .BasketWrapperFormContent label {
        font-size: .8em;
    }

    .DeviceModeDevice .BasketWrapperInputLink {
        text-align: center;
        justify-content: center;
    }

}

.BasketCellCounterWrapper input {
    -webkit-appearance: none;
}

.BasketEmptyInvisible .BasketIsEmptyText {
    display: none!important;
}

.BasketFilsafeWidthDetector {
    width: 100%;
    box-sizing: border-box;
    height: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
    max-height: 0;
}

@media only screen and (min-width:768px){
    .DeviceModeDevice .BasketWrapper {       
        padding: .5em 1em;
    }
}


.BasketWrapperContent table tbody tr,.BasketWrapperContent table tbody,.BasketWrapperContent table,.BasketWrapperContent{
    box-sizing: border-box;

    width:100%;
    min-width:100%;
    max-width:100%;
}

.DeviceModeDevice .BasketWrapperContent table tbody tr td.BasketMobileCell {
    display: block;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    width:10000em;    
    max-width: 100%;
    min-width:100%;
}
