.Data_editorMedia_personTabInner {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMedia_personCommonWrapper.Data_editorMedia_personCommonWrapperQuill {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMedia_personEditorOutWrap {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMedia_personEditorInnerRoot {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMedia_personGalleryWrapper {
    box-sizing: border-box;
    height: 100%;
}

.Data_editorMedia_personPropertiesWrapper {
    box-sizing: border-box;
    height: 100%;
}

