.ADVTableFilterRow {
    display: block;
    box-sizing: border-box;
    height: 1.25em;
    max-height: 1.25em;
    overflow: hidden;
    position: absolute;left: 0;bottom: 0;width: 100%;
}

.ADVTableFilterContainer {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding-right: 1.25em;
    overflow: hidden;
    position: relative;
}

.ADVTableFilterTextInputWrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.ADVTableFilterTextInputResetButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25em;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: .25em;
    transition: all .3s;    
    border: 1px solid silver;
    border-left: none;
    border-bottom: none;
}

.ADVTableFilterTextInputResetButton svg {
    width: 100%;
    height: 100%;
    fill: crimson;
}

.ADVTableFilterTextInputResetButton:hover {
    padding: .125em;
}

.ADVTableFilterTextInputWrapper input[type=text] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid silver;
    outline: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 0 .5em;
    transition: all .3s;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #00acc8;
    font-size: .9em;
    display:block;border-radius: 0;
}

.ADVTableFilterTextInputWrapper input[type=text]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid silver;
    background: rgba(255,255,255,.7);
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #00acc8;
    display:block;border-radius: 0;
}


/* DATE FILTER*/
.ADVTableFilterContainer.ADVTableFilterContainerDateInput{
    box-sizing:border-box;
    position:realative;
    padding:0 1.25em;
}



.ADVTableFilterDateMatchModeSelectorWrapper {
    width: 1.25em;
    height: 1.25em;
    border-top: 1px solid silver;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: #00acc8;
    cursor: pointer;
    line-height: 1.25em;
    white-space: nowrap;
    text-align: center;
}
select.ADVTableDateFilterMatchSelector{
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.ADVTableDateFilterMatchSelector::-ms-expand {
    display: none; 
} 

select.ADVTableDateFilterMatchSelector.ValueModeMATCH {        
    border-radius: 0;
    border: none;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #00acc8;
    margin: 0;
    display: block;
    outline: none;
    box-shadow: none;
    text-align: center!important;
    text-align-last: center;
    cursor: pointer;
    background: transparent;
    /* font-size: .8em; */
}

.ADVTableFilterDateMatchModeFontCompensator {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: .9em;
}


/*
.ADVTableDateFilterMatchSelector.ValueModeMATCH:after{
    display:block;
    font-size:.9em;
}

.ADVTABleContainerModeMATCH .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {    
    content:"="
}
.ADVTABleContainerModeMORE .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {    
    content:">"
}
.ADVTABleContainerModeMOREEQ .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {    
    content:">="
}
.ADVTABleContainerModeLESS .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {   
    content:"<"
}
.ADVTABleContainerModeLESSEQ .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {    
    content:"<="
}

.ADVTABleContainerModeBETWEEN .ADVTableDateFilterMatchSelector.ValueModeMATCH:after {
    font-size:.9em;
    content:"[ ]"
}
*/

.ADVTableFilterDateInputWrapper.ADVTableFilterDateInputWrapper2{
    display:none;
}
.ADVTableFilterDateInputWrapper{
    float:left;
    box-sizing: border-box;
    width:100%;
}

.ADVTABleContainerModeBETWEEN .ADVTableFilterDateInputWrapper.ADVTableFilterDateInputWrapper2{
    display:block;
}

.ADVTABleContainerModeBETWEEN .ADVTableFilterDateInputWrapper{
    width:50%;
} 

.ADVTableFilterDateInputResetButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25em;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: .25em;
    transition: all .3s;    
    border: 1px solid silver;
    border-left: none;
    border-bottom: none;
}

.ADVTableFilterDateInputResetButton svg{
    width:100%;height:100%;fill:crimson;
}

.ADVTableFilterDateInputResetButton:hover {
    padding: .125em;
}

.ADVTableFilterDateInputWrapper input[type=text] {
    box-sizing: border-box;
    padding: 0 .3em;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid silver;
    background: transparent;
    color: #00acc8;
    cursor: pointer;
    box-shadow:none;
    outline:none;
    transition:all .3s;
    font-family:inherit;
    font-size:inherit;
    display:block;border-radius: 0;
}

.ADVTableFilterDateInputWrapper input[type=text]:focus {
    box-shadow:none;
    outline:none;
    background:rgba(255,255,255,.8);
    display:block;border-radius: 0;

}

.ADVTableDateFilterDatesWrapper {
    height: 100%;
    box-sizing: border-box;
}

.ADVTableFilterDateInputWrapper {
    height: 100%;
    box-sizing: border-box;
}

.ADVTABleContainerModeBETWEEN .ADVTableFilterDateInputWrapper.ADVTableFilterDateInputWrapper1 input[type=text] {
    border-right: 1px solid silver;
}

.ADVTableFilterDateInputWrapper {
    font-size: .9em;
}




/* DATE FILTER */



/* BOOL FILTER*/
.ADVTableFilterContainer.ADVTableFilterContainerBoolLayoutInput {
    padding-right: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.ADVTableFilterTextInputWrapper.ADVTableStorageBoolLayoutFieldWrapperWrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ADVTableFilterBoolLayoutInputWrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ADVTableFilterBoolLayoutInputWrapper>div {
    width: 1em;
    height: 1em;
    outline: 1px solid silver;
    cursor: pointer;
    outline-offset: 0;
    transition: all .3s;
}

.ADVTableFilterBoolLayoutInputWrapper .ADVTableFilterBoolDOMon {
    outline: 1px solid #00acc8;
    border: 1px solid white;
    background: #00acc8;
}

.ADVTableFilterBoolLayoutInputWrapper .ADVTableFilterBoolDOMoff {
    outline: 1px solid #00acc8;
}


/*BOOL FILTER */