.ADVTableWrapper.ADVTableToolbarEnabled .ADVTableInner {
    padding-bottom: 2em;
}

.ADVTableToolbarWrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: #ded9d9;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 1em;
}

.ADVTableToolbarInner {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    height: 100%;
}

.ADVTablePerpageSelector {
    float: left;
    box-sizing: border-box;
    padding: 0 .5em;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;    
    height: 100%;
}

.ADVTablePerPageButton {    
    height: 1.25em;
    line-height: 1.25em;
    border: 1px solid #00acc8;
    color: #00acc8;
    padding: 0 .5em;
    margin: 0 .2em;
    transition: all .3s;
    cursor: pointer;
}

.ADVTablePerPageButton:hover {
    background: #00acc8;
    color: white;
}

.ADVTablePerPageButton.ADVTablePerPageButtonSelected {
    background: #00acc8;
    color: white;
}

/* paginator */

.ADVTablePaginatorWrapper {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 .5em;
    box-sizing: border-box;
    height: 100%;
}

.ADVTablePaginator {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.ADVTablePaginatorArrow {
    box-sizing: border-box;    
    height: 1.25em;
    width: 1.7em;
    margin-left: 0;
    margin-right: .2em;
    cursor: pointer;
    background: transparent;
    border: 1px solid #00acc8;    
    line-height: 0;
    padding: .1em;
    transition: all .3s;
    cursor: pointer;
}


.ADVTablePaginatorArrow svg {
    width: 100%;
    height: 100%;
    fill: #00acc8;
    transition: fill .3s;
}

.ADVTablePaginatorArrow.ADVTablePaginatorArrowLeft svg {
    transform: rotate(180deg);
}

.ADVTablePaginatorArrow.ADVTablePaginatorArrowRight {
    margin-right: 0;
    margin-left: .2em;
}


.ADVTablePaginatorArrow:hover {
    background: #00acc8;
}

.ADVTablePaginatorArrow:hover svg {
    fill: white;
}

.ADVTablePaginatorButton {
    color: #00acc8;
    height: 1.25em;
    line-height: 1.25em;
    border: 1px solid #00acc8;
    padding: 0 .5em;
    margin: 0 .2em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
}

.ADVTablePaginatorButton:hover {
    background: #00acc8;
    color: white;
}

.ADVTablePaginatorSeparator {
    border: 1px solid transparent;
    height: 1.25em;
    line-height: 1.25em;
    color: #00acc8;
    margin-left: .3em;
    margin-right: .3em;
}

.ADVTablePaginatorButton.ADVTablePaginatorCurrent {
    color: white;
    background: #00acc8;
}

.ADVTablePaginatorArrow.ADVTablePaginatorDisabled,
.ADVTablePaginatorArrow.ADVTablePaginatorDisabled:hover {
    border: 1px solid darkgray;
    cursor: default;
    background:transparent;
}
.ADVTablePaginatorArrow.ADVTablePaginatorDisabled svg,
.ADVTablePaginatorArrow.ADVTablePaginatorDisabled:hover svg{
    fill:darkgray;
}

.ADVTableToolbarWrapper,.ADVTableToolbarWrapper span,.ADVTableToolbarWrapper div,.ADVTableToolbarWrapper i,.ADVTableToolbarWrapper b,
.ADVTableToolbarWrapper p,.ADVTableToolbarWrapper svg{
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkiy-user-select:none;
}
.ADVTableToolbarWrapper *{
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkiy-user-select:none;
}
