.EFOWindow.Data_editorRequestProfileWindow input[type=color] {
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    border: 1px solid silver;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}